<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mis571_finalproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MIS571_FinalProject">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="org.achartengine.GraphicalActivity" />
        <activity android:name=".SchedActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".FirstClassActivity" />
        <activity android:name=".ThankYouActivity" />
        <activity android:name=".ProfitActivity" />
        <activity android:name=".CreateClassActivity" />
        <activity android:name=".CancelClassActivity" />
        <activity android:name=".CreateSuccessActivity" />
        <activity android:name=".CancelSuccessActivity" />
        <activity android:name=".InstMenuActivity" />
        <activity android:name=".AllClassActivity" />
        <activity android:name=".AdminMenuActivity" />
        <activity android:name=".AllRegActivity" />
        <activity android:name=".FeedbackActivity" />

    </application>

</manifest>